@{
    ViewBag.Title = "ETSISI UPM - Inicio";
}

<div class="jumbotron">
    <img src="~/img/UPM.jpg" alt="Foto campus sur" style="max-width:100%" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Colaboraciones</h2>
        <p>
            La Escuela Técnica Superior de Ingeniería de Sistemas Informáticos (ETSISI) es un centro de la Universidad 
            Politécnica de Madrid que imparte las ramas de la Ingeniería Informática, en concreto las titulaciones de 
            Grado en Ingeniería de Software, Ingeniería de Computadores, Ingeniería de Sistemas de Información y 
            Tecnologías para la Sociedad de la Información.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Normativas</h2>
        <p>
            La Escuela Técnica Superior de Ingeniería de Sistemas Informáticos (ETSISI) es un centro de la Universidad
            Politécnica de Madrid que imparte las ramas de la Ingeniería Informática, en concreto las titulaciones de
            Grado en Ingeniería de Software, Ingeniería de Computadores, Ingeniería de Sistemas de Información y
            Tecnologías para la Sociedad de la Información.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>El centro</h2>
        <p>
            La Escuela Técnica Superior de Ingeniería de Sistemas Informáticos (ETSISI) es un centro de la Universidad
            Politécnica de Madrid que imparte las ramas de la Ingeniería Informática, en concreto las titulaciones de
            Grado en Ingeniería de Software, Ingeniería de Computadores, Ingeniería de Sistemas de Información y
            Tecnologías para la Sociedad de la Información.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>